<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Body count</title>
    <link rel="stylesheet" href="{{ url_for('static' , filename='stilig.css') }}">
</head>
<body>

<h1>Kundesupport - Live Teller</h1>
<p class="logged-in">
    Logget inn som: {{ session["user"] }}
</p>

<div class="container">

    <div class="card">
        <h2>📞 Telefonsamtaler</h2>
        <div id="phoneCount" class="count">{{ counts.phone }}</div>
        <button onclick="increment('phone')">Registrer Telefon</button>
    </div>

    <div class="card">
        <h2>💬 Direkte henvendelser</h2>
        <div id="directCount" class="count">{{ counts.direct }}</div>
        <button onclick="increment('direct')">Registrer Direkte</button>
    </div>
</div>
    <div class="reset-area">
        <button onclick="resetCounts()">Nullstill</button>
    </div>
<form action="/logout" method="GET">
    <button type="submit">Logg ut</button>
</form>
<script>
    function resetCounts() {
        fetch("/reset", {
            method: "POST"
        })
            .then(response => response.json())
            .then(data => {
                document.getElementById("phoneCount").innerText =data.phone;
                document.getElementById("directCount").innerText =data.direct;
            })
    }
</script>

<script>
    function showAchievement() {
        const box = document.getElementById("achievement");

        box.classList.remove("hidden");

        setTimeout(() => {
            box.classList.add("show");
        }, 10);

        setTimeout(() => {
            box.classList.remove("show");
            setTimeout(() => box.classList.add("hidden"), 400);
        }, 3000);
    }

    function increment(counter) {
        fetch(`/count/${counter}`, {method: "POST"})
            .then(response => response.json())
            .then(data => {
                const countId = counter + "Count";
                document.getElementById(countId).innerText = data.value;

                //Trigger achievement for direkte hver 10 gang
                if (data.value % 10 === 0) {
                    showAchievement();
                }
            });
    }

</script>

<div id="achievement" class="achievement hidden">
    <img src="/static/omg.jpeg" alt="Achievement">
    <p>OMG you did it!</p>
</div>

</body>
</html>